**/__pycache__/*
**/.vscode/*
.coverage
**/images/*
.github
**/Nuages/*
Data.xlsx
Maths Info Archive.rar
Performances.xlsx
Présentation 1.pptx
Programmes/test/Graham Rapport/index.html
Programmes/test/Graham Rapport/Programmes_Class___init___py.html
Programmes/test/Graham Rapport/Programmes_Class_Graham_py.html
Programmes/test/Graham Rapport/Programmes_test_Test_Graham_py.html
Programmes/test/Jarvis Rapport/index.html
Programmes/test/Jarvis Rapport/Programmes_Class___init___py.html
Programmes/test/Jarvis Rapport/Programmes_Class_Jarvis_py.html
Programmes/test/Jarvis Rapport/Programmes_test_Test_Jarvis_py.html
Programmes/test/Quickhull Rapport/index.html
Programmes/test/Quickhull Rapport/Programmes_Class___init___py.html
Programmes/test/Quickhull Rapport/Programmes_Class_Quickhull_py.html
Programmes/test/Quickhull Rapport/Programmes_test_Test_Quickhull_py.html